{% extends 'StockCompta/base.html'%}
{%block style%}
<style>
    .spec,.spec:hover{
        color:rgb(21, 95, 231);
        text-decoration: none;
        font-size: 1em;
    }
   
    a,a:hover{
        text-decoration: none;
        color: #fff;
    }
    .bg-danger,.bg-primary{
        color: #fff;
        padding: 2%;
        margin-bottom: 3%;
    }
    .rupture{
        font-size: 3em;
    }
    
</style>
{%endblock style%}
{% block content%}
{{u}}
<div class="row">
        <div class="col-md-3 bg-danger text-center">
            <a href="{% url 'getRupture' %}">
                <h5>Article(s) bientôt en rupture</h5>
            <span class="rupture">
                {{r}}
            </span>
            </a>
        </div>
        <div class="col-md-7 offset-1 bg-primary text-center">
            <h5>Article(s) en stock</h5>
            <span class="rupture">
                {{num}}
            </span>
        </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4 class="text-center">Ajout article</h4>
        <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-success" value="Ajouter">
        

</form> 
    </div>
    <div class="col-md-7 offset-1">
        <h4 class="text-center">Articles en stock</h4>
        {%  if art %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Désignation</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Quantité en Stock</th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                {% for a in art %}
                <tr>
                    <td>{{a.label}}</td>
                    <td>{{a.price}}</td>
                    <td>{{a.ActualQty}} </td>
    
                    <td><form action="{% url 'suppdel' a.id %}" method="post" class="d-inline">{% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Supprimer">
                    </form></td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
        
        {% else %}
        <h4 class="text-center text-warning"><i class="fa-solid fa-triangle-exclamation h1"></i> Stock vide</h4>
         {% endif %}
        {% if art.has_previous %}
        <a href="{% url 'addandshow'%}?page={{art.previous_page_number}}" class="spec">Prec.</a>
        {%endif%}
        {% if art.has_next %}
        <a href="{% url 'addandshow' %}?page={{art.next_page_number}}" class="spec">Suiv.</a>
        {%endif%}
    </div>
</div>


<!-- Button trigger modal -->
  
  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Vous voulez supprimer {{item.label}}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="" class="btn btn-danger">supprimer</a>
        </div>
      </div>
    </div>
  </div> -->

{% endblock content %}