{% extends 'StockCompta/base.html'%}
{%block style%} 
<style>
    form{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .form-group{
        padding: 15px;
    }
</style>
{%endblock style%}
{%block content%}

<form class="w-50 p-3" action="{% url 'update' %}" method="POST">
    
    {% csrf_token %}
    <div class="form-group">
        <label for="">Désignation</label>
      <input  type="text" name = "label"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{p.label}}">
    </div>
    <div class="form-group">
        <label for="">Prix unitaire</label>
      <input type="number" name = "price" class="form-control" id="exampleInputPassword1" value="{{p.price}}">
    </div>
    <div class="form-group">
        <label for="">Quantité</label>
        <input type="number" name = "ActualQty" class="form-control" id="exampleInputPassword1" value="{{p.ActualQty}}">
      </div>
      <div class="form-group">
          <label for="">Seuil</label>
        <input type="number"  name = "limitQty" class="form-control" id="exampleInputPassword1" value="{{p.limitQty}}">
      </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Modifier</button>

    </div>
  </form>
  

{%endblock content%}