{% extends 'StockCompta/base.html'%}
{% block content %}

<div class="row">
    <div class="col-md-4 offset-1">
        <h4 class="text-center">Effectuer une sortie</h4>
        <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <span class="text-warning">{{msg}}</span><br><br>
        <input type="submit" class="btn btn-success" value="Enregistrer" id="send">
        </form>
    </div>
    <div class="col-md-7 text-center">
        <form action="{% url 'search' %}" method="POST" class="search">
            {% csrf_token %}
            <select name="search" id="" class="custom-select form-control" style="width: 80%;">
                {% for i in S %}
                <option value="{{i}}">{{i}}</option>
                {%endfor%}
            </select>
            <input type="submit" value="Rechercher" class="btn btn-success">
        </form>
        
    </div>
</div>

<style>
.d{display: none;}
.search{display: flex;justify-content: space-between;}
</style>
{% endblock content %}