{%block content%}
{{s}}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Désignation</th>
            <th scope="col">Quantité</th>
            <th scope="col">Service</th>

            <th></th>
        </tr>

    </thead>
    <tbody>
        {% for a in Sorties %}
        <tr>
            <td>{{a.jour}}/{{a.mois}}/{{a.an}}</td>
            <td>{{a.label}}</td>
            <td>{{a.qte}} </td>
            <td>{{a.service}} </td>

        </tr>
        
        {% endfor %}
    </tbody>
</table>


{%endblock content%}