{%block content%}
{{s}}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Désignation</th>
            <th scope="col">Quantité en stock</th>
            <th scope="col">prix</th>

            <th></th>
        </tr>

    </thead>
    <tbody>
        {% for a in Articles %}
        <tr>
            <td scope="col" class="text-center">{{a.label}}</td>
            <td scope="col" class="text-center">{{a.price}}</td>
            <td scope="col" class="text-center">{{a.ActualQty}}</td>

        </tr>
        
        {% endfor %}
    </tbody>
</table>


{%endblock content%}