{%block content%}
{{D}}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Nom</th>
            <th scope="col">Désignation</th>
            <th scope="col">Quantité</th>
            <th scope="col">Service</th>

            <th></th>
        </tr>

    </thead>
    <tbody>
        {% for a in Sorties %}
        <tr>
            <td class="">{{a.jour}} / {{a.mois}} / {{a.an}}</td>
            <td class="">{{a.beneficiary}}</td>

            <td class="">{{a.label}}</td>
            <td class="">{{a.qte}} </td>
            <td class="">{{a.service}} </td>

        </tr>
        
        {% endfor %}
    </tbody>
</table>


{%endblock content%}